@tailwind base;
@tailwind components;
@tailwind utilities;
[dir="rtl"] .flex-row {
  flex-direction: row-reverse;
}
[dir="rtl"] .space-x-4 > :not([hidden]) ~ :not([hidden]) {
  margin-right: 1rem;
  margin-left: 0;
}
[dir="rtl"] .text-left {
  text-align: right;
}
[dir="rtl"] .ml-auto {
  margin-right: auto;
  margin-left: 0;
}
[dir="rtl"] .mr-2 {
  margin-left: 0.5rem;
  margin-right: 0;
}